aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
future==0.18.3
gitpython
hachoir
heroku3
httpx
motor==3.3.2
pillow==9.5.0
psutil
pymongo==4.6.3
python-dotenv
pyyaml==6.0.1
requests
qrcode
tgcrypto
telethon==1.33.1
spotipy
telegraph
speedtest-cli
unidecode
urllib3
wget
youtube-search-python
googlesearch-python
search_engine_parser
gpytranslate
bing_image_downloader
bing-image-urls
cloudscraper
py-yt-search
SafoneAPI==1.0.65
MukeshAPI

pyrogram==2.0.106
pytgcalls==3.0.0.dev24

yt-dlp
